

@{
    ViewBag.Title = "ManageEntities";
    Layout = "~/Views/Shared/Layouts/_LayoutEditorSimple.cshtml";
}

   
<div id="content" style="width:1200px;float:left;">

    <div style="float:left;width:200px;min-height:500px;margin:50px 20px 10px 0">
        <ul>
            <li><a href="#" id="lnk_1" onclick="return SelectEntityForEdit(1,'lnk_1');" title="Click to edit this entity">Entity 1</a></li>
        </ul>
    </div>
        
        
    <div style="float:left;width:800px;min-height:600px;">
        
        <iframe id="dvEntityFields" style="width:100%;height:600px;background-color:beige;">


        </iframe>   
       
       
    </div>
</div>


<script type="text/javascript">
    function SelectEntityForEdit(entityid, lnkid) {
        currententityid = entityid;
        $('#dvEntityFields').attr('src', '/Editor/EditEntity/' + currententityid);
        //$('#spEntityName').html($('#' + lnkid).html());
    }

</script>
